@import
url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald:700'),
'partials/variables',
'partials/common',
'partials/structure',
'partials/header',
'partials/footer',
'partials/home',
'partials/galerie';
