
<div id="galerie" class="content">
	<div class="gradient-text">
		<h1>Galerie</h1>
	</div>
	<ul>
		<li ng-repeat="project in datas">
			<div class="card">
				<div class="zoom-gallery gradient {{project.gradient}}">
					<a href="{{project.img}}" data-source="{{project.img}}">
						<img ng-src="{{project.img}}" alt="{{project.nom}}">
					</a>
				</div>
				<div class="content">
					<h2 data-title="{{project.nom}}">{{project.nom}} <span data-day="#{{$index + 1}}">#{{$index + 1}}</span></h2>
				</div>
			</div>
		</li>
	</ul>
</div>
