
<div id="galerie" class="content">
	<ul>
		<li id="{{$index + 1}}" ng-repeat="project in datas | reverse" >
			<div class="card project gradient {{project.gradient}}" ng-click="lightbox(project)">
				<div class="bg ">
					<div class="image-popup" >
						<img ng-src="{{project.imgpng}}" alt="{{project.nom}}">
						 <span class="day">#{{project.jour}}</span>
					</div>
				</div>
				<div class="content">
					<h2 data-title="{{project.nom}}">{{project.nom}} <span>#{{project.jour}}</span></h2>
					<div class="footer">
						<p ng-repeat="tag in project.tags">{{tag}}</p>
					</div>

				</div>
			</div>
		</li>
	</ul>
	<div id="lightbox">
		<div class="lightbox-content">
			<img id="lightboxImg" src="content/uploads/lionking.jpg" alt="">
			<h3>The Lion King</h3>
			<div class="cross" ng-click='closeLightbox()'></div>
		</div>
	</div>
</div>
