
<div id="galerie" class="content">
	<ul>
		<!-- <li id="headerGalerie" class="gradient-text">
			<h1>Galerie</h1>
		</li> -->
		<li ng-repeat="project in datas">
			<div class="card">
				<div class="gradient {{project.gradient}}">
					<a class="image-popup-vertical-fit" href="{{project.imgjpg}}" data-source="{{project.imgjpg}}">
						<img ng-src="{{project.imgpng}}" alt="{{project.nom}}">
						 <span class="day">#{{$index + 1}}</span>
					</a>
				</div>
				<div class="content">
					<h2 data-title="{{project.nom}}">{{project.nom}} <span>#{{$index + 1}}</span></h2>
					<div class="footer">
						<p ng-repeat="tag in project.tags">{{tag}}</p>
					</div>

				</div>
			</div>
		</li>
	</ul>
</div>
