*{
	margin: 0;
	padding: 0;
}

p, a{
	font-family: $opensans;
	color: darken($color1,30%);
}

html,body{
	width: 100%;
	height: 100%;
}

img{
	width: 100%;
}


button{
	background-color: $color1;
	color: $color3;
	padding: 15px 90px;
	border-radius: 50px;
	border: none;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 300;
	box-shadow: 0px 10px 0px 0px rgba(#000000, 0.5);
	cursor: pointer;
	transition: box-shadow 0.4s ease-out;
	&:hover{box-shadow: 0px 25px 0px 0px rgba(#000000, 0.5);}
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	background-color: $color1;
	&.open{
		overflow: auto;
		#prehome{
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s ease-out 0.3s, visibility 0.1s ease-out 0.6s;
			a{top:-45px; opacity:0; visibility: hidden; transition:visibility 0.1s ease-out 0.4s, top 0.4s ease-out, opacity 0.4s ease-out;}
			button{top:45px; opacity:0; visibility: hidden; transition:visibility 0.1s ease-out 0.4s, top 0.4s ease-out, opacity 0.4s ease-out;}
			p{opacity:0; visibility: hidden; transition:visibility 0.1s ease-out 0.4s, top 0.4s ease-out, opacity 0.4s ease-out;}
		}
	}

}

.content{
	width: 100%;
	max-width: $widthdesktop;
}


ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	li{
		list-style: none;

	}
}

.app{
	height: calc(100% - 60px);
	margin-top: 60px;
}


.gradient-text {
	background: #53b8d1; /* Old browsers */
	background: -moz-linear-gradient(325deg,  #53b8d1 0%, #2955a5 50%, #5b21bf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(325deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(125deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b8d1', endColorstr='#5b21bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   display: inline-block;
   margin: 20px 0;
   font-size: 20px;
   letter-spacing: 4px;
   text-transform: uppercase;

   h1, h2, h3,h4,h5, p, i, span{
      font-family: $oswald;
      color: #000000;
      background: #fff;
      mix-blend-mode:lighten;
   }

}
