*{
	margin: 0;
	padding: 0;
}

p, a{
	font-family: $opensans;
	color: $color3;
}

html,body{
	width: 100%;
	height: 100%;
	// background-color: $color5;
}

img{
	width: 100%;
}


button{
	background-color: $color1;
	color: $color3;
	padding: 15px 90px;
	border-radius: 50px;
	border: none;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 300;
	box-shadow:0px 15px 30px 0px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: box-shadow 0.4s ease-out;
	&:hover{top: 5px; box-shadow: 0px 15px 10px 0px rgba(#000000, 0.5);}

}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	overflow: hidden;
	background-color: $color1;
	&.open{
		overflow: auto;
		#prehome{
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s ease-out 0.3s, visibility 0.1s ease-out 0.6s;
			a{top:-45px; opacity:0; visibility: hidden; transition:visibility 0.1s ease-out 0.4s, top 0.4s ease-out, opacity 0.4s ease-out;}
			button{top:45px; opacity:0; visibility: hidden; transition:visibility 0.1s ease-out 0.4s, top 0.4s ease-out, opacity 0.4s ease-out;}
			p{opacity:0; visibility: hidden; transition:visibility 0.1s ease-out 0.4s, top 0.4s ease-out, opacity 0.4s ease-out;}
		}
		&.still{
			#prehome{
				transition: all 0s;
				a{transition: all 0s;}
				p{transition: all 0s;}
				button{transition: all 0s;}
			}
		}
	}
}

.content{
	width: 100%;
	max-width: $widthdesktop;
	padding:10px;
	box-sizing: border-box;
}


ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	li{
		list-style: none;

	}
}

.app{
	height: calc(100% - 60px);
	margin-top: 60px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}


.gradient-text {
	background: #53b8d1; /* Old browsers */
	background: -moz-linear-gradient(325deg,  #53b8d1 0%, #2955a5 50%, #5b21bf 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(325deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(125deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b8d1', endColorstr='#5b21bf',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
   display: inline-block;
   margin: 20px 0;
   font-size: 20px;
   letter-spacing: 4px;
   text-transform: uppercase;

   h1, h2, h3,h4,h5, p, i, span{
      font-family: $oswald;
      color: #000000;
      background: #fff;
      mix-blend-mode:lighten;
   }

}


.gradient{
	&.red{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbb03b+0,f15a24+100 */
	background: #fbb03b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fbb03b 0%, #f15a24 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #fbb03b 0%,#f15a24 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #fbb03b 0%,#f15a24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb03b', endColorstr='#f15a24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&.blue{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ffff+0,386ac9+100 */
	background: #00ffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #00ffff 0%, #386ac9 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #00ffff 0%,#386ac9 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #00ffff 0%,#386ac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#386ac9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&.grey{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbdb+0,999999+100 */
		background: #dbdbdb; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #dbdbdb 0%, #999999 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #dbdbdb 0%,#999999 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #dbdbdb 0%,#999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#999999',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&.green{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcee21+0,009245+100 */
		background: #fcee21; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #fcee21 0%, #009245 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #fcee21 0%,#009245 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #fcee21 0%,#009245 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcee21', endColorstr='#009245',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&.purple{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b53eb5+0,662d91+100 */
		background: #b53eb5; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #b53eb5 0%, #662d91 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #b53eb5 0%,#662d91 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #b53eb5 0%,#662d91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b53eb5', endColorstr='#662d91',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}


#btnUp{
	position: fixed;
	cursor: pointer;
	bottom: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	background-color: rgba($color5, 0.4);
	border-radius: 50%;
	transform: rotate(-90deg);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-out;
	&.active{
		transform: rotate(0deg);
		visibility: visible;
		opacity: 1;
	}
	span{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-top: 2px solid $color1;
		border-left: 2px solid $color1;
		transform: rotate(45deg);
	}
}
