#galerie{
	width: 100%;
	ul{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		li{
			width: 25%;
			padding: 10px;
			box-sizing: border-box;
			position: relative;
			span.day{
				position: absolute;
				bottom: 50%;
				left: calc(50% - 75px);
				font-family: $oswald;
				color: darken($color1, 10%);
				font-weight: bold;
				font-size: 150px;
			}
			.zoom-gallery{
				position: relative;
				z-index: 5;
				width: 100%;
				height: 150px;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			h2{
				text-align: center;
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				color: $color3;
				font-family: $opensans;
				font-size: 15px;
				margin: 0;
				padding:0 5px;
				display: inline-block;
				position: relative;
				z-index: 5;
			}
		}
	}
}
