#galerie{
	width: 100%;
	ul{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: relative;
		// margin-top: 150px;
		li{
			width: 33.333333%;
			padding: 30px 10px;
			box-sizing: border-box;
			position: relative;
			z-index: 1;
			perspective: 600px;
			@media screen and (max-width: 700px) {
				width: 50%;
			}
			@media screen and (max-width: 450px) {
				width: 100%;
			}


			&#headerGalerie{
				width: 100%;
			    position: absolute;
			    top: -140px;
			    left: 0;
			    z-index: -1;
			    font-size: 110px;
			    padding: 0;
			    font-weight: 900;
			    text-align: center;
			}
			.card{
				box-shadow: 0 20px 20px rgba(0,0,0,.08);
				position: relative;
				top: 0;
				background-color: #fff;
				overflow: hidden;
				border-radius:4px;
				transition: all 0.3s ease-out;
				transform: translateY(0) rotateX(0deg);
				transform-origin: top center;
				transform-style: preserve-3d;
				z-index: 2;
				&:hover{
					box-shadow: 0 40px 40px rgba(0,0,0,.16);
					z-index: 1000;
					transform: translateY(0) rotateX(3deg);
					span.day{
						transform: scale(1.6);
					}
				}
				.footer{
					border-top: 1px solid darken(#ffffff,5%);
					padding: 10px 0;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					p{
						padding: 3px 5px;
						margin: 4px;
						border-radius: 3px;
						background-color: darken(#ffffff, 5%);
						color:darken(#ffffff,25%);
					}
				}
			}
			.gradient{
				position: relative;
				z-index: 5;
				width: 100%;
				height: 300px;
				overflow: hidden;

				a{
					display: block;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					text-decoration: none;

				}
				img{
					width: 80%;
					height: 80%;
					object-fit: contain;
					position: absolute;
					z-index: 2;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;

				}
				span.day{
					position: relative;
					color: darken(#ffffff,5%);
					z-index: -1;
					mix-blend-mode : multiply;
					font-size: 140px;
					display: inline-block;
					padding: 10px 0;
					font-family: $opensans;
					text-align: left;
					font-weight: 800;
					text-decoration: none;
					transform: scale(1);
					transition: all 0.3s ease-out;
				}

			}
			h2{
					text-align: center;
					position: relative;
					color: $color5;
					font-family: $opensans;
					text-align: left;
					padding:10px 0;
					display: inline-block;
					z-index: 5;
					font-size: 22px;
					font-weight: 800;
					overflow: hidden;
					box-sizing: border-box;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
			}
		}
	}
}
