#prehome{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #53b8d1; /* Old browsers */
	background: -moz-linear-gradient(325deg,  #53b8d1 0%, #2955a5 50%, #5b21bf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(325deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(125deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b8d1', endColorstr='#5b21bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-out 0.1s, visibility 0.1s ease-out, background 0.3s ease-out;

	&.load{
		a,p,button{ opacity: 0; visibility: hidden;
		}
		a{ top: 65px; }
		button{ top: -35px; }
		// p{ top: -25px; }
	}

	a,p,button{
		opacity: 1;
		visibility: visible;
		position: relative;
		transition: opacity 0.9s ease-out 0.1s, visibility 0.1s ease-out, top 0.9s ease-out 0.15s;
	}

	a{ margin-bottom: 40px; top: 0; }

	p{
		color: $color1;
		font-size: 15px;
		margin: 30px 0;
		top: 0;
		max-width: $widthdesktop;
		width: 100%;
		font-weight: 200;
		text-align: center;
		transition: opacity 0.6s ease-out 0.2s, visibility 0.1s ease-out, top 0.6s ease-out 0.25s;

	}
	button{
		margin: 40px 0 0 0;
		top: 0;
		transition: opacity 0.9s ease-out 0.2s, visibility 0.1s ease-out, top 0.9s ease-out 0.2s, box-shadow 0.4s ease-out;
	}
}


header{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-sizing: border-box;
	.content{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 100%;
	}
	img{
		width: auto;
		height: 100%;
	}
	#homeLink{
		height: 80%;
	}
	ul{
		a{
			color: $color3;
			line-height: 60px;
			text-transform: uppercase;
			box-sizing: border-box;
			transition: all 0.3s ease-out;
			display: inline-block;
		    padding: 0 12px;
		    text-decoration: none;
		    outline: 0;
		    font-size: 13px;
		    font-weight: normal;
		    -webkit-tap-highlight-color: transparent;
			&.active{
				background: darken($color1, 4%); /* Old browsers */
				color: $color4;
			}
			&:hover{
				background: darken($color1, 4%); /* Old browsers */
				color: $color4;
			}
		}
	}
}
