#prehome{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #53b8d1; /* Old browsers */
	background: -moz-linear-gradient(325deg,  #53b8d1 0%, #2955a5 50%, #5b21bf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(325deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(125deg,  #53b8d1 0%,#2955a5 50%,#5b21bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b8d1', endColorstr='#5b21bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity: 1;
	background-size: 500% 500%;
	visibility: visible;
	transition: opacity 0.3s ease-out 0.1s, visibility 0.1s ease-out, background 0.3s ease-out;
	-webkit-animation: gradientAnim 20s ease infinite;
	-moz-animation: gradientAnim 20s ease infinite;
	-o-animation: gradientAnim 20s ease infinite;
	animation: gradientAnim 20s ease infinite;


	&.load{
		a,p,button{ opacity: 0; visibility: hidden;
		}
		a{ top: 65px; }
		button{ top: -35px; }
		// p{ top: -25px; }
	}

	a,p,button{
		opacity: 1;
		visibility: visible;
		position: relative;
		transition: opacity 0.9s ease-out 0.1s, visibility 0.1s ease-out, top 0.9s ease-out 0.15s;
	}

	a{ margin-bottom: 40px; top: 0; }

	p{
		color: $color1;
		font-size: 15px;
		margin: 30px 0;
		top: 0;
		max-width: $widthdesktop;
		width: 100%;
		font-weight: 200;
		text-align: center;
		transition: opacity 0.6s ease-out 0.2s, visibility 0.1s ease-out, top 0.6s ease-out 0.25s;

	}
	button{
		margin: 40px 0 0 0;
		top: 0;
		transition: opacity 0.9s ease-out 0.2s, visibility 0.1s ease-out, top 0.9s ease-out 0.2s, box-shadow 0.4s ease-out;
	}
}


header{
	width: 100%;
	margin: 0 auto;
	z-index: 10;
	padding: 10px 0;
	min-height: 150px;
	box-sizing: border-box;
	transition:all 0.3s ease-out;
	&.fixed{
		.content{
			position: fixed;
			top: 0;
			left: 0;
			min-height:initial;
			height: 70px;
			width: 100%;
			max-width: inherit;
			padding: 10px 30px;
			background-color: rgba($color1,1);
			flex-direction: row;
			justify-content: space-between;
			box-shadow: 0 1px 2px rgba(0,0,0,.1);
			transition:all 0.3s ease-out;
			>a{
				height: 100%;
				img{height: 100%;}
			}

		}
		.contentText{
			opacity: 0;
			display: none;
			visibility: hidden;
		}
	}
	.content{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		background-color: rgba($color1, 0);
		transition:all 0s ease-out;
	}
	img{
		width: auto;
		height: 100px;
	}
	.contentText{
		margin: 10px 0;
		transition:all 0.3s ease-out;
	}
	p{
		color: $color3;
		text-align: center;
	}
	ul{
		a{
			color: $color3;
			line-height: 60px;
			text-transform: uppercase;
			box-sizing: border-box;
			transition: all 0.3s ease-out;
			display: inline-block;
			padding: 0 10px;
		    text-decoration: none;
		    outline: 0;
		    font-size: 15px;
		    font-weight: normal;
		    -webkit-tap-highlight-color: transparent;
			&.active{
				color: $color4;
			}
			&:hover{
				color: $color4;
			}
		}
	}
}


.backCircles{
	position: absolute;
	top: -90%;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	max-width: 1200px;

	&:before{
		content: "";
		display: block;
		width: 100%;
		padding-top: 100%;
	}
	.circle{
		position: absolute;
		mix-blend-mode:exclusion;
		border-radius: 50%;
		&.one{
			width: 100%;
			height: 100%;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: rgba($color5, 0.1);
		}
		&.two{
			width: 70%;
			height: 70%;
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: rgba($color5, 0.1);
		}
		&.three{
			width: 40%;
			height: 40%;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: rgba($color5, 0.1);
		}
		&.four{
			width: 20%;
			height: 20%;
			left: 10%;
			bottom: 10%;
			margin: auto;
			background-color: rgba($color5, 0.1);
		}
	}
}
