#accueil{
	height:100%;
	width: 100%;
	#project{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		.left{
			width: 50%;
			padding: 0 10px 0 0;
			height: 100%;
			position: relative;
			&::before{
				content: "";
				display: block;
				height: 100%;
				width: calc(100% - 10px);
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(255,255,255,0);
				background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(0,0,0,0.31) 100%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.31)));
				background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(0,0,0,0.31) 100%);
				background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(0,0,0,0.31) 100%);
				background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(0,0,0,0.31) 100%);
				background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.31) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
			}
		}
		.right{
			width: 50%;
			padding: 0 0 0 10px;
			h2{
				margin: 0;
				font-family: $opensans;
				color: $color3;
				font-weight: bold;
				&.gradient-text{

				}
				span{
					margin: 0;
				}
			}
			p{
				color: $color2;
			}
		}
	}
}

#previous{
	position: fixed;
	top: 50%;
	left: -20px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: block;
	background: darken($color1, 8%); /* Old browsers */
	border: darken($color1, 15%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;

	&::before{
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		left: 10px;
		transform: rotate(-45deg);
		border-left:2px solid $color3;
		border-top:2px solid $color3;
		transition: all 0.3s ease-out;
	}

	&:hover{
		left: 0;
		&::before{
			left: 0;
		}
	}
}

#next{
	position: fixed;
	top: 50%;
	right: -20px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: block;
	background: darken($color1, 8%); /* Old browsers */
	border: darken($color1, 15%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;

	&::before{
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		right: 10px;
		transform: rotate(225deg);
		border-left:2px solid $color3;
		border-bottom:2px solid $color3;
		transition: all 0.3s ease-out;
	}

	&:hover{
		right: 0;
		&::before{
			right: 0;
		}
	}
}
