#accueil{
	height:100%;
	width: 100%;
	overflow: hidden;
	#project{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img{
			width: 100%;
			height: 100%;
			max-width: 400px;
			object-fit:contain;
		}
		.projectContent{
			width: 100%;
			padding: 0 0 0 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			h2{
				margin: 0;
				font-family: $opensans;
				color: $color1;
				font-weight: bold;
			}
			p{color: $color1;}
		}
	}
}

#previous{
	position: fixed;
	top: 50%;
	left: -20px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: block;
	background: darken($color1, 8%); /* Old browsers */
	border: darken($color1, 15%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;

	&::before{
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		left: 10px;
		transform: rotate(-45deg);
		border-left:2px solid $color3;
		border-top:2px solid $color3;
		transition: all 0.3s ease-out;
	}

	&:hover{
		left: 0;
		&::before{
			left: 0;
		}
	}
}

#next{
	position: fixed;
	top: 50%;
	right: -20px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: block;
	background: darken($color1, 8%); /* Old browsers */
	border: darken($color1, 15%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;

	&::before{
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		right: 10px;
		transform: rotate(225deg);
		border-left:2px solid $color3;
		border-bottom:2px solid $color3;
		transition: all 0.3s ease-out;
	}

	&:hover{
		right: 0;
		&::before{
			right: 0;
		}
	}
}
