#lightbox{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color5,0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px;
	box-sizing: border-box;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-out 0.3s;
	&.active{
		background-color: rgba($color5,0.7);
		opacity: 1;
		visibility: visible;
		transition: all 0.3s ease-out;
		h3{
			transform: translateY(0px);
			opacity: 1;
			transition: all 0.3s ease-out 0.4s;
		}
		img{
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			transition:transform 0.3s ease-out 0.3s, opacity 0.15s ease-out 0.3s, visibility 0.15s ease-out 0.3s;
		}
	}
	.lightbox-content{
		max-width:1300px;
		max-height: 800px;
		width: 100%;
		position: relative;
	}

	h3{
		color: $color1;
		color: rgba(lighten(#fff,5%), 0.5);
		font-family: $opensans;
		text-align: center;
		display: inline-block;
		z-index: 5;
		font-size: 22px;
		font-weight: 800;
		overflow: hidden;
		box-sizing: border-box;
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;
		margin: auto;
		opacity: 0;
		transition: all 0.3s ease-out;
		transform: translateY(20px);
		text-transform: uppercase;
	}

	img{
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		object-fit: contain;
		transform: scale(0.7);
		transition:transform 0.3s ease-out, opacity 0.15s ease-out 0.15s, visibility 0.15s ease-out 0.15s;
	}

	div.cross{
		position: absolute;
		top: -25px;
		right: -25px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $color1;
		cursor: pointer;
		&:hover{
			&::before{transform: rotate(0deg);}
			&::after{transform: rotate(-90deg);}
		}
		&::before, &::after{
			content: "";
			display: block;
			width: 50%;
			height: 2px;
			position: absolute;
			background-color: $color3;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-radius: 30px;
			transition: all 0.3s ease-out;
		}
		&::before{transform: rotate(45deg);}
		&::after{transform: rotate(-45deg);}
	}
}
