$color1 : #fefefe;
$color2 : #53b8d1;
$color3 : #2955a5;
$color4 : #5b21bf;

$opensans : 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;


$widthdesktop : 1200px;
$widthtablet : 768px;
$widthmobile : 400px;
